.App {
  margin: 0 auto;
  margin-top: 0px;
  max-width: 1200px;
}


.header {
  text-align: center;
  padding-top: 10px;
}

.footer {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 20px;
}

.header p {
  margin: 5px 0;
}

.footer p {
  margin: 5px 0;
}

.instruction {
  text-align: start;
}

.code {
  padding: 5px;
  color: greenyellow;
  background-color: black;
  border-radius: 5px;
}

.detector,
.modelConfigMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modelConfigMenu {
  /* margin-bottom: 20px; */
  margin-top: 20px;
}

button {
  text-decoration: none;
  color: white;
  background-color: black;
  border: 2px solid black;
  margin: 10px 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.menuItem {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem>label {
  padding-right: 10px;
  width: 50%;
  text-align: end;
}

.menuItem>span,
.menuItem>input {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: end;
}

.configMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.configInputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}



.exampleImage:hover,
.exampleVideo:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}



.canvasOptions {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;

}

.sketchMenu {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.examples {
  width: 50%;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exampleVideos {
  display: flex;
  flex-direction: row;
}

/* .examples {
  display: flex;
} */

.exampleImage,
.exampleVideo {
  margin: 5px 5px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.exampleImage {
  width: 75px;
  height: 75px;
}

.exampleVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 75px;

}


.video-react .video-react-big-play-button {
  width: 50%;
  height: 50%;
  max-width: 3em;
  max-height: 1.5em;
}



.exampleVideo video {
  margin: 0px 5px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  width: 75px;
  /* height: 75px; */
}

.uploadedVideo video {
  border: 2px red solid;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2em;
  width: 2em;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: pointer;
}