.App {
  margin: 0 auto;
  margin-top: 0px;
  max-width: 1200px;
}


.header {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
}

.footer {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 20px;
}

.header p {
  margin: 5px 0;
}

.footer p {
  margin: 5px 0;
}

.code {
  padding: 5px;
  color: greenyellow;
  background-color: black;
  border-radius: 5px;
}

.detector,
.modelConfigMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.detector {
  margin-top: 20px;
}

button {
  text-decoration: none;
  color: white;
  background-color: black;
  border: 2px solid black;
  margin: 5px 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.menuItem {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem>label {
  padding-right: 10px;
  width: 50%;
  text-align: end;
}

.menuItem>span,
.menuItem>input {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: end;
}

.configMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  max-width: 500px;
}

.configInputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}