.App {
  margin: 0 auto;
  margin-top: 0px;
  max-width: 1200px;
}


.header {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 30px;
}

.footer {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 20px;
}

.header p {
  margin: 5px 0;
}

.footer p {
  margin: 5px 0;
}

.code {
  padding: 5px;
  color: greenyellow;
  background-color: black;
  border-radius: 5px;
}

.detector,
.modelConfigMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.detector {
  margin-top: 20px;
}

button {
  text-decoration: none;
  color: white;
  background-color: black;
  border: 2px solid black;
  margin: 10px 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.menuItem {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem>label {
  padding-right: 10px;
  width: 50%;
  text-align: end;
}

.menuItem>span,
.menuItem>input {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: end;
}

.configMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.configInputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.exampleImage {
  cursor: pointer;
  margin: 0px 5px;
  border-radius: 10px;
  /* border: 2px darkgray solid; */
  transition: box-shadow 0.3s ease;

}

.exampleImage:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}



.exampleVideo:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}



.examples {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.sketchMenu {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-react .video-react-big-play-button {
  width: 50%;
  height: 50%;
  max-width: 3em;
  max-height: 1.5em;
}

.exampleVideo video {
  cursor: pointer;
  margin: 0px 5px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  position: relative;
  /* width: 100%; */
}


.exampleVideo {
  position: relative;
  width: 100%;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2em;
  width: 2em;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  cursor: pointer;
}

.playButton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 12px 0px 12px 20px;
  border-color: transparent transparent transparent white;

}